# Python
*.pyc
*.egg-info/

# Jupyter
.ipynb_checkpoints

# IDE
.vscode
.idea
*.wpr
*.wpu
.vs
x64

# Temp
build
dist
*.local

# vn.py
# .vntrader

# Visual Studio intermediate files
*.exp
*.iobj
*.ipdb
*.pdb

# Documents
_build
_static
_templates

# gary
extra
bar_data
tick_data
log
.vscode
.DS_Store
.python-version
app/mongo/data
*.vntrader*
*.csv
*.db
*.swp
*.pkb2
access_token.conf
vnpy/data/tdx/future_contracts.json
vnpy/data/tdx/tdx_future_config.json
