# Python
*.pyc
*.egg-info/

# Jupyter
.ipynb_checkpoints

# IDE
.vscode
.idea
*.wpr
*.wpu
.vs
x64

# Temp
build
dist
*.local

# vn.py
# .vntrader

# Visual Studio intermediate files
*.exp
*.iobj
*.ipdb
*.pdb

# Documents
_build
_static
_templates

# gary
extra
bar_data
tick_data
log
zcodes
.vscode
.DS_Store
.python-version
app/mongo/data
prod/gary*
*.vntrader*
*.csv
*.db
*.swp
*.pkb2
*.h5
*.zip
*.xlsx
access_token.conf
vnpy/data/tdx/future_contracts.json
vnpy/data/tdx/tdx_future_config.json
xbx/money_flow/data/
xbx/coin_alpha/data
xbx/bolling_up/data
xbx/data_manager/data
xbx/CoinAlphaRotationCta/.env
xbx/CoinAlphaRotationCta/logs
xbx/CoinAlphaRotationCta/pm2.yaml
xbx/tg_quant/pm2.yaml
